/* Fonts */
$font-stack: "Raleway", sans;

/* Colors */

$grey: #8d8d8d;
$primary: #008cff;
$secondary: #32e4d2;
$dark-primary: #00318b;
$dark-secondary: #30d4b1;
$dark-grey: #505050;
$light-grey: #c0c0c0;

/* Colors: -- Trademarks */
$google-blue: #4285f4;